<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="header_row">
            <ul class="header_main">
                <li><a href="/"><h2>Главная</h2></a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'car-create' %}"><h2>Добавить новый автомобиль</h2></a></li>
                {% endif %}
            </ul>
            <ul class="header_registration">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><h2>Выйти</h2></a></li>
                <h2 class="header_hello">Здравствуйте, {{ user.username }}</h2>
                {% else %}
                <li><a href="{% url 'signup' %}"><h2>Регистрация</h2></a></li>
                <li><a href="{% url 'login' %}"><h2>Войти</h2></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>